/* Validation Colors for Input Controls */
.rowbcolor{
    margin-top: 5px;
    border-bottom: 2px solid #005cbf;
}

.cbody{
    overflow: hidden;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.formcontent{
    border: 2px solid #0b2e13;
    border-radius: 10px;
    background-image: linear-gradient(rgba(19, 130, 243, 0.93), rgba(212, 255, 254, 0.68));
}
.cardhead{
    margin-top: 10px;

    background-image: linear-gradient(rgba(10,72,221,0.68),rgba(212,255,254,0.68));
}
.cardstyle{
    border: 2px solid #0b2e13;
    border-radius: 20px;
    background-image: linear-gradient(rgba(10,72,221,0.68),rgba(212,255,254,0.68));
}


.tblbtnprint{
    border-radius: 10px;
    border: 2px solid #a71d2a;
    color: #ffffff;
    background-image: linear-gradient(rgba(19, 130, 243, 0.93),rgba(212,255,254,0.68));
}


body::-webkit-scrollbar{
    border-radius: 10px;
    background-image: linear-gradient(rgba(19, 130, 243, 0.93), rgba(212, 255, 254, 0.68));
}
body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}



.invalid .form-control{
    background-color: pink;
}
.valid .form-control{
    background-color: lightgreen;
}
.updated .form-control{
    background-color: khaki;
}


.file-box{
    height: 87px;
    margin-bottom: 7px;
    border:1px solid #ccc;
    padding: 5px;
    position: relative;
}

.file-box>img{
    position: absolute;
    height: 75px;
    top: 5px;
    left: 5px;
}

.file-box>ul{
    position: absolute;
    top: 5px;
    left: 87px;
    right: 5px;
    padding: 0px;
    list-style: none;
    color: #555;
    text-align: right;
}


/* Profile Image */

.bntVisibity{
    cursor: not-allowed;
}


.profileImage {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}



/* Profile Image Dropdown */
.


